:root {
  --background-color: #777777;
  --accent-color: #268230;
  --heading-color: #361e07;
  --dark: #3f3f3f0d;
}

#navbar {
  background-color: var(--heading-color);
}

#about,
#contact,
#portfolio,
#resume {
  color: var(--heading-color);
}

.icon {
  width: auto;
  height: 40px;
  opacity: 45%;
}

.icon:hover {
  opacity: 100%;
}

.active {
  color: blue;
}

.nav-item {
  background-color: var(--accent-color);
  border-radius: 5%;
}

.background {
  background-color: var(--background-color);
  color: var(--heading-color);
}

.card {
  background-color: var(--heading-color);
  color: var(--heading-color);
  opacity: 70%;
}

.button {
  background-color: rgb(145, 96, 47);
  border-radius: 3px;
}

.screenshot {
  height: 20rem;
  width: 35rem;
  opacity: 70%;
  border-radius: 3px;
}

.screenshot:hover {
  opacity: 100%;
}

a:hover {
  color: var(--heading-color);
}

input,
textarea {
  border-radius: 3px;
  border: none;
}
